{% extends 'base.html.twig' %}

{% block title %}{{ 'landing.page'|trans }}{% endblock %}
{% block body %}
    <h1>{{ 'landing.page'|trans }}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, placeat reiciendis! Debitis delectus impedit ipsum labore minus, mollitia nihil provident similique voluptas voluptatem! Illum in, minima minus perspiciatis repudiandae vero.</p>
{% endblock %}
